#wrapper {
    background-color: white;
    border: #4c96d7 5px solid;
    border-radius: 10px;
}
body {
    margin: 10px auto 10px auto;
    max-width: 750px;
    background-image: url("../images/site/checkerboard.jpg");
    font-family: 'Share Tech Mono', monospace;
    background-size: 300px 300px;
}

h1 {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0 0 -8px 0;
}
footer {
    text-align: center;
}
footer p {
    margin: 0;
    font-size: .7rem;
}
#bottom {
    padding-bottom: 10px;
}
#acctLink {
    float: right;
    padding-top: 30px;
    padding-right: 35px;
}
hr {
    background-color: gray;
    height: 5px;
}

/*---------NAV-------------*/

nav {
    margin-top: -18px;
    background-color: #3a3a3a;
    height: 2.8em;
}
nav ul li {
    margin-top: 13px;
    display: inline-block
}
nav ul li a {
    margin: 3px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    background-color: #4c96d7;
    padding: 17px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin-left: -30px;
    
}